@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal style */
*{
margin: 0;
padding: 0;
list-style: none;
}
/* universal style end */

/* shared style start */
.description{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 0px;
    opacity: 0.7;
    }
.section-title{
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.sub-title{
color: rgba(13, 19, 33, 0.7);
font-size: 23px;
font-weight: 665;
line-height: 34px;
margin: 16px 0px;
}
.sub-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 16px 0px;
}
/* shared style end */
body{
    font-family: Azeret Mono;
}
/* navbar section start from here */
nav a {
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 43px 142px;
    align-items: center;
}
nav h3{
    font-size: 26px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
nav button{
    width: 231px;
    height: 54px;
}
nav button a{
color: rgb(13, 19, 33);
font-size: 19px;
font-weight: 570;
}
/* navbar section end from here */

/* hero section start from here */
.hero{
    height: 619px;
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 80px;
    margin: 0 auto;
} 
.hero a{ 
    text-decoration: none;
}
.hero .hero-content{
    width: 100%;
    margin: 0 auto;
    text-align: center; 
}

.hero .hero-content .hero-title{
color: rgb(13, 19, 33);
font-size: 42px;
font-weight: 800;
line-height: 62px;
}

.hero-btn{
border-radius: 8px;
background: rgb(13, 19, 33);
width: 197px;
height: 63px;
padding: 21px 24px 21px 24px;
border: none;
}

.hero-btn a{
color: rgb(255, 255, 255);
font-size: 19px;
font-weight: 570;
}


/* hero section end from here */

/* why web devlopment section start from here */

#why-web-dev{
    background-color: #fafafb;
    width: 899px;
    margin: 0 auto;
    padding: 80px 97px 80px 97px;
    margin-bottom: 50px;
}
#why-web-dev a{
    text-decoration: none;
}

#why-web-dev .content{
    display: flex;
    background-color: #fcfcfd;
    padding: 48px;
    margin: 32px 0px;
}
#why-web-dev .content .content-btn{
    width: 161px;
    height: 45px;
}
#why-web-dev .content .content-btn a{
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 595;
    line-height: 23px;
    opacity: 0.7;
}
#why-web-dev .content .text{
    margin: 0px 15px;
}
/* why web devlopment section end from here */

/* inspiration section start from here */

#inspiration{
    width: 1083px;
    height: 736px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
}
#inspiration .video iframe{
    width: 1022px;
    height: 522px;
    padding: 30px;
    border: 2px solid #d5d6d9;
    border-radius: 10px;
    
}
/* inspiration section end from here */

/* current target session start from here */
#target{
    width: 1083px;
    margin: 0 auto;
}
.html-skill{
    width:269px ;
    height: 208px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 38px;
}

.html-skill img{
    margin-bottom: 20px;
}
.html-skill h1{
color: rgb(13, 19, 33);
font-size: 22px;
font-weight: 770;
line-height: 32px;
text-align: left;
margin-bottom: 20px;
}
.html-skill a{
color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 670;
line-height: 19px;
}
.css-skill{
    width:269px ;
    height: 208px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 38px;
}

.css-skill img{
    margin-bottom: 20px;
}
.css-skill h1{
color: rgb(13, 19, 33);
font-size: 22px;
font-weight: 770;
line-height: 32px;
text-align: left;
margin-bottom: 20px;
}
.css-skill a{
color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 670;
line-height: 19px;
}
.js-skill{
    width:269px ;
    height: 208px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 38px;
}

.js-skill img{
    margin-bottom: 20px;
}
.js-skill h1{
color: rgb(13, 19, 33);
font-size: 22px;
font-weight: 770;
line-height: 32px;
text-align: left;
margin-bottom: 20px;
}
.js-skill a{
color: rgb(13, 19, 33);
font-size: 15px;
font-weight: 670;
line-height: 19px;
}

.target-skill{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
}
/* current target session end from here */

/* next target start from here */
.next-skills{
    width: 1083px;
    margin: 0 auto;
}
.skilled{
    display: flex;
    border: 2px solid #d5d6d9;
    border-radius: 10px;
    padding: 38px;
    margin-bottom: 20px;
}
.skilled .text-info h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    text-align: left;
    margin-bottom: 20px;
}
.skilled .text-info a{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 670;
    line-height: 19px;
    }
    .skilled .text-info{
        padding-left: 30px;
    }
    .skilled .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* next target end from here */

/* support section start from here */
    #support{
        width: 1083px;
        height: 285px;
        margin: 0 auto;
        background-image: url(assets/handshake.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-top: 45px;
        margin-bottom: 70px;
        background-color: rgba(0, 0, 0, 0.6);
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #support h2{
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }
    #support p{
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        opacity: 0.7;
        padding: 10px 0px;
    }
    #support input[type="text"]{
        width: 540px;
        height: 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        outline: none;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 8px;
        padding: 0px 20px;
        letter-spacing: 1px;
        color: rgba(2, 2, 19, 0.877);
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
    #support input[type="submit"]{
        width: 115px;
        height: 53px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 17px 20px 17px 20px; 
       border-radius: 8px;
       background: rgb(255, 255, 255);
       border: none;
       color: rgb(13, 19, 33);
       font-size: 18px;
       font-weight: 600;
       text-align: center;
    }
    .inp{
        display: flex;
        gap: 10px;
    }
    /* support section end from here */

    /* footer section start from here  */

    #footer{
        background-color:#f8f8f8;
        border-radius: 20px;
    }
    #footer .footer-content{
        width: 1083px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;
        
    }
    #footer .footer-content .social-icon{
        display: flex;
        align-items: center;
        gap: 20px;

    }

    #footer h4{
        color: rgb(13, 19, 33);
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
    }
    /* footer section end from here  */